  {"name":"SISICCodeAndMappedMarketSegmentCode", "value": "${SISICCodeAndMappedMarketSegmentCode}"},
  {"name":"int_obm_compas_upsert_liquid", "value": "${int_obm_compas_upsert_liquid}"},
  {"name":"instanceURL", "value": "${instanceURL}"},
  {"name":"apimKey", "value": "${apimKey}"},
  {"name":"apimURL", "value": "${apimURL}"},
