  {"name":"LogLevel", "value": "${LogLevel}"},
  {"name":"instanceURL", "value": "${instanceURL}"},
  {"name":"apimKey", "value": "${apimKey}"},
  {"name":"baseUrl_apim_ise", "value": "${baseUrl_apim_ise}"},
  {"name":"apimURL", "value": "${apimURL}"},
  {"name":"liquid_setError", "value": "${liquid_setError}"},
  {"name":"liquid_responseContactDetails", "value": "${liquid_responseContactDetails}"},
  {"name":"liquid_ContactSearchQuery", "value": "${liquid_ContactSearchQuery}"},
  {"name":"liquid_upsertSFSAccountContactRelationship", "value": "${liquid_upsertSFSAccountContactRelationship}"},
  {"name":"liquid_upsertSFSContactCreateOrUpdate", "value": "${liquid_upsertSFSContactCreateOrUpdate}"},
