"$connections": {
      "value": {
        "inputConnection": ${inputConnection},
        "outputConnection": ${outputConnection},
        "errorConnection": ${errorConnection},
        "salesForceConnection": ${salesForceConnection},
        "logAnalyticsConnection":${logAnalyticsConnection}
      }
    }