"$connections": {
  "value": {
    "sftpwithsshConnection": ${sftpwithsshConnection},
    "azureBlobConnection": ${azureBlobConnection},
    "salesForceConnection": ${salesForceConnection},
    "emailConnection" : ${emailConnection},
    "queueConnection":  ${queueConnection}
  }
}