  {"name":"soap_service_uri", "value": "${soap_service_uri}"},
  {"name":"sftpssh_dbupload_path", "value": "${sftpssh_dbupload_path}"},
  {"name":"keyVaultSecretBaseUri", value": "${keyVaultSecretBaseUri}"},
  {"name":"keyVaultSecretKeyPassword", "value": "${keyVaultSecretKeyPassword}"},
  {"name":"liquidRequest", "value": "${liquidRequest}"},
